option_settings:
  aws:elasticbeanstalk:application:environment:
    RAILS_ENV: production
    RAILS_SERVE_STATIC_FILES: true
    RAILS_LOG_TO_STDOUT: true
    SECRET_KEY_BASE: db89c41f9c17c5911532adfaa1c30b4f17b3d4280cf65762d546c5442d0989d57612b487f07b6744e34ef3beb5429f1ea3b8290158e49fa10914c725ebaff38b
    DATABASE_URL: sqlite3:///tmp/app.db
    DISABLE_DATABASE_ENVIRONMENT_CHECK: 1
